[Unit]
Description=MongoDB Database Server
After=network.target
Documentation=https://docs.mongodb.org/manual

[Service]
User=mongod
Group=mongod
ExecStartPre=/usr/bin/chown mongod.mongod -R /data/database/mongodb
ExecStartPre=/usr/bin/chown mongod.mongod -R /data/backup/mongodb
ExecStart=/usr/bin/mongod -f /data/database/mongodb/${PORT}/conf/mongodb.${PORT}.conf
ExecStop=/data/database/mongodb/deploy stop ${PORT}

[Install]
WantedBy=multi-user.target
